*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0 auto;
  color: $color-main;
  font-family: $font-main;
  @include font($f-size-main, $f-weight-main, $f-lheight-main);
  transition-duration: $transition-homepage;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (max-width: 640px) {
    padding: 0 24px;
  }

  .section-reviews & {
    position: relative;
  }

  @media screen and (max-width: 640px) {
    .section-whatwecando & {
      padding: 0;
    }
  }
}

.container-2 {
  width: 100%;
  height: 100%;
  max-width: 1428px;
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (max-width: 640px) {
    padding: 0 6px;
  }

  @media screen and (max-width: 475px) {
    padding: 0;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  & .article {
    overflow: hidden;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  margin: 0;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 640px) {
    & {
      display: none;

      &.bg-visible {
        display: block;
      }
    }
  }

  &.anim {
    height: max-content;
    top: 100%;
    width: 100%;
    min-width: max-content;
    transform: rotate(45deg) translateY(calc(-50% - 2.5*100vh*0.6));
    transform-origin: 50% 0;
    z-index: -1;
  }

  .hidden {
    visibility: hidden;
  }

  .img {
    background-repeat: no-repeat;
  }

  .img.img-right {
    object-position: right;
  }

  .img.img-left {
    object-position: left;
  }

  .img.img-contain {
    object-fit: contain;
  }
}

.icon {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.b-bold {
  font-family: $b-bold!important;
  font-weight: normal!important;
}

.b-medium {
  font-family: $b-medium!important;
  font-weight: normal!important;
}

.b-regular {
  font-family: $b-regular!important;
  font-weight: normal!important;
}

.b-light {
  font-family: $b-light!important;
  font-weight: normal!important;
}

.b-thin {
  font-family: $b-thin!important;
  font-weight: normal!important;
}

.img-content {
  @include flex(center, center);
}

.clickable {
  cursor: pointer;
}

q {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3,* + h4,* + h5,* + h6 {
  margin: 0.67em 0 0 0;
}

p, ul, ol, figure {
  margin: 0 0 15px 0;
}

div > p {
  margin-bottom: 0;
}

* + p, * + ul, * + ol, * + figure{
  margin-top: 15px;
}

ul {
  padding: 0 0 0 40px;
  margin: 0;
}

ul > li > ol,
ul > li > ul,
ol > li > ul,
ol > li > ol {
  margin: 0;
}
