.button {
  @include flex(center, center);
  @include button($color-main, $color-pink2, 0, 0, none, 30px, uppercase);
  @include font(14px, 600, normal);
  transition-duration: 0.3s;
  width: 280px;
  height: 60px;
  cursor: pointer;

  @media screen and (max-width: 960px) {
    height: 50px;
    width: 240px;
  }

  &-main {
    @media screen and (max-width: 475px) {
      width: 100%;
    }
  }

  &.button-secondary {
    background-color: transparent;
    font-weight: normal;
    border: 2px solid $color-pink2;

    &:hover {
      background-color: $color-pink2;
      color: $color-main;
    }
  }

  &.button-mustangchain {
    background-color: $color-main;
    color: $color-blue;

    &:hover {
      color: $color-main;
      background-color: $color-blue;
    }
  }

  &.button-dbafitness {
    background-color: $color-main;
    color: $color-orange;

    &:hover {
      color: $color-main;
      background-color: $color-orange;
    }
  }

  .section-case-study .section-body &.button-case-study {
    @include button($color-main, rgba($color-main, 0.2), 0, 0, none, 18px, none);
    width: 100%;
    height: 36px;
    @include font(14px, bold, normal);
    letter-spacing: 0.64px;
  }

  .section-main &-group {
    @include flex(center, center);
    @include spacing(10px);
    margin-bottom: 3.8vh;
    align-self: flex-start;
  }

  &:hover {
    @include button($color-pink2, $color-main, 0, 0, none, 30px, uppercase);
  }

  &-wrap.secondary {
    margin: 9vh 0;
  }

  &-wrap.body-footer {
    margin-top: 5vh;
  }

  &-wrap & {
    margin: 0 auto;

    &.button-dbafitness, &.button-mustangchain {
      margin: 0;
      margin-right: auto;
    }
  }
}

