.grid {
  @include flex(center, stretch);
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .col {
    background-color: transparent;
    @include flex(center, center);
    flex-direction: column;

    &:hover {
      text-decoration: none;
    }
  }

  &.background-layout {
    @include flex(center, stretch);
    flex-direction: row;
    width: 100%;
    @include spacing(10px);
    margin-left: auto;
    flex-wrap: nowrap;

    .col-bg {
      @include flex(flex-end, flex-end);
      flex-direction: column;
      height: auto;
      width: fit-content;
      position: relative;
      overflow: visible;
      @include spacing-vert(10px);
      will-change: transform, top;
      transform: translateZ(0);
    }

    .bg-pic {
      margin: 0;
      min-height: $anim-mob-height;
      height: $anim-mob-height;
      width: fit-content;

      .img-bg {
        height: 100%;
        width: auto;
      }
    }
  }
}
