.grid {
  @include flex(center, stretch);
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .section-whatwecando & {
    min-height: 100%;
    height: auto;
  }

  .section-blogs .card-footer & {
    @include flex(space-between, stretch);
  }

  .section-engineering & {
    @include spacing(10px);
    margin-bottom: 7vh;
  }

  .section-technologies & {
    justify-content: space-between;

    & > * {
      width: 20%;
    }
  }

  .section-cooperationModels & {
    justify-content: space-between;

    & > * {
      width: 33.33%;
    }
  }

  .section-codeExamples & {
    justify-content: space-between;
    margin-bottom: 12vh;

    @media screen and (max-width: 640px) {
      margin-bottom: 6vh;
    }
  }

  .col {
    background-color: transparent;
    @include flex(center, center);
    flex-direction: column;

    &:hover {
      text-decoration: none;
    }
    
    .section-whatwecando & {
      min-height: 440px;
    }

    .section-stack & {
      width: 20%;

      @media screen and (max-width: 960px) {
        width: 40%;
        margin-bottom: 4vh;
      }

      @media screen and (max-width: 960px) {
        width: 50%;
      }

      @media screen and (max-width: 475px) {
        width: 100%;
      }
    }

    .section-codeExamples & {
      @media screen and (max-width: 640px) {
        margin-bottom: 4vh;
      }
    }
  }

  &.background-layout {
    @include flex(center, stretch);
    flex-direction: row;
    width: 100%;
    @include spacing(10px);
    margin-left: auto;
    flex-wrap: nowrap;

    .col-bg {
      @include flex(flex-end, flex-end);
      flex-direction: column;
      height: auto;
      width: fit-content;
      position: relative;
      overflow: visible;
      @include spacing-vert(10px);
      will-change: transform, top;
      transform: translateZ(0);
    }

    .bg-pic {
      margin: 0;
      min-height: $anim-mob-height;
      height: $anim-mob-height;
      width: fit-content;

      .img-bg {
        height: 100%;
        width: auto;
      }
    }
  }
}
