.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  height: 70px;
  overflow: hidden;

  .header-background {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(117deg,#e79eb4 -9%,#dd7d92 56%,#ce5f69 118%);
    background-color: transparent;
    background-position-y: top;
    transition-duration: $transition-main;

    &.header-sectionRight {
      opacity: 0;
      background-image: linear-gradient(295deg,#bfeccb -25%,#4ab659 76%,#175c31 146%);;
    }
  }

  .header-layout {
    @include flex(space-between, center);
    padding: 0;
    height: 100%;

    .header-left, .header-right {
      width: 35%;
      max-width: 393px;
    }

    .header-center {
      @include flex(center, center);
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  .container {
    max-width: 1070px;
  }

  .logo-white {
    display: none;
  }

  .logo-red {
    display: block;
  }

  &.white {
    .logo-red {
      display: none;
    }

    .logo-white {
      display: block;
    }

    .nav-item {
      color: $color-main;
    }
  }
}

.logo {
  @include flex(center, center);
  text-decoration: none;
}

.logo-name-wrap {
  margin-bottom: 4px;
  width: 36px;
  height: 36px;
}

.lang-panel {
  position: absolute;
  @include flex(center, center);
  z-index: 2;
  background-color: transparent;
  right: 20px;
  top: 20px;

  .btn-lang {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $color-pink2;
    color: $color-main;
    @include font(12px, normal, 25px);
    text-decoration: none;
    margin-right: 10px;
    @include flex(center, center);
  }
}