.header-navigation {
  @include flex(space-between, center);
  @include font(12px, 400, normal);
  @include spacing(4px);
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    & {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 640px) {
    & {
      display: none;
    }
  }
}

.nav-wrap {
  @include flex(center, center);
}
  
.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--header-font-color, $color-main);
  transition-duration: $transition-fast;

  &:hover {
    color: $color-pink2;
    text-decoration: none;
  }

  &.isactive, &.isactive:hover {
    color: $color-pink2;
  }

  &-mob {
    display: block;
    text-align: center;
    color: $color-main;
    border: 2px solid transparent;
    @include font(20px, 300, 50px);
    padding: 0 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    transition-duration: $transition-fast;

    &:hover {
      background-color: $color-pink2;
      color: $color-main;
      text-decoration: none;
    }
  }
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  z-index: 2;
  @include flex(center, center);
  transform: translateX(-100vw);
  display: none;

  &.is-open {
    display: flex;
  }
  
  .dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 250px;
  }

  .close-button {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 54px;
    height: 54px;
    padding: 5px;
    @include flex(center, center);
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: transparent;

    &:before, &:after {
      position: absolute;
      display: inline-block;
      content: '';
      min-width: 44px;
      height: 2px;
      background-color: white;
    }

    &:after {
      transform: rotate(90deg);
    }
  }
}

ul li{
  padding: 0;
}
