.section {
  padding: 12vh 0;
  margin: 0;
  min-height: calc(100vh);
  height: fit-content;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 960px) {
    padding: 8vh 0;
  }

  &-case-study {
    display: flex;
    align-items: center;
  }

  &-header {
    width: 100%;
    @include flex(center, center);

    .section-main & {
      justify-content: flex-start;
      margin: 0;
      margin-bottom: 5.5vh;

      @media screen and (max-width: 640px) {
        margin-bottom: 3vh;
      }
    }

    .section-title {
      @include font(42px, 500, normal);
      color: $color-main;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 7vh;

      @media screen and (max-width: 1280px) {
        margin-bottom: 5vh;
        font-size: 38px;
      }

      @media screen and (max-width: 960px) {
        margin-bottom: 4vh;
        font-size: 34px;
      }

      @media screen and (max-width: 640px) {
        font-size: 28px;
      }

      .section-case-study & {
        @include font(40px, normal, normal);
        color: $color-main;
        padding: 0;
        margin: 0;
      }
    }
  }

  &-body {

    .section-main & {
      margin-bottom: 7vh;

      @media screen and (max-width: 640px) {
        margin-bottom: 5vh;
      }
    }

    .section-case-study & {
      margin-bottom: 0;
    }

    .section-case-study & {
      align-items: flex-start;
    }

    .section-description {
      @include font(20px, 300, 1.63);
      margin: 0;
      text-align: left;

      @media screen and (max-width: 1280px) {
        font-size: 18px;
      }

      .section-case-study & {
        @include font(16px, normal, 1.63);
      }
    }
  
    .section-media {
      position: relative;
    }
    
    .section-body-media {
      height: 122px;
      margin-bottom: 6vh;

      @media screen and (max-width: 475px) {
        margin-bottom: 3vh;
      }

      .img {
        width: auto;
        object-fit: contain;
      }
    }
  }

  &-footer {
    width: 100%;

    .section-case-study & {
      @include flex(flex-start, center);
    }

    .section-footer-media {
      height: 26px; 
      margin-bottom: 3.5vh;
    }

    .section-description {
      @include font(16px, 300, 1.63);
      letter-spacing: 0.73px;
      margin-bottom: 2.6vh;
    }
  }

  &-layout {
    @include flex(space-between, stretch);
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;

    .section-dbafitness & {
      flex-direction: row;
    }

    .section-main {
      max-width: 540px;
      width: 40%;
      @include flex(center, space-between);
      flex-direction: column;

      @media screen and (max-width: 960px) {
        width: 60%;
      }

      @media screen and (max-width: 960px) {
        width: 100%;
      }

      &.mustangchain {
        transition-duration: $transition-main;
      }

      &.dbafitness {
        transition-duration: $transition-main;
      }
    }
  }

  &-subtitle {
    margin:0;
    color: $color-main;
    font-family: $font-main;
  }
}

.icon-size {
  @include wrap(10px, 10px, 0, 0);
}

.display-toggle {
  transition-duration: 0.2s;
  
  &.hidden {
    display: none;
  }
  
  &.visuallyhidden {
    opacity: 0;
  }

  &.invisible {
    display: none;
  }
}
