$font-main: 'Open Sans', sans-serif;
$b-light: 'Brandon light';
$b-thin: 'Brandon thin';
$b-regular: 'Brandon regular';
$b-medium: 'Brandon medium';
$b-bold: 'Brandon bold';
$f-size-main: 18px;
$f-weight-main: 300;
$f-weight-bold: 700;
$f-lheight-main: normal;

$color-main: #ffffff;
$color-secondary: #888888;
$color-reverse: #b82b5c;
$color-pink2: #f11869;
$color-pink-hover: #5a1231;
$color-gray-light: #c1c8d5;

$color-blue: #77a0d5;
$color-lightblue: #639cd3;
$color-orange: #f68050;
$color-orange-cecil: #e0810b;
$color-text-reverse: #373739;
$color-cecil: #ee8e02;

$color-bg-dark: #1b1b1b;
$color-bg-dark2: #1b1b1c;
$color-bg-dark3: #1e1e20;
$color-bg-dark4: #1a1a1b;
$color-bg-dark-home: #101015;
$color-additional: #0f0f10;
$color-bg-light: #fff;
$color-bg-dark5: #0E0D0D;
$color-card-hover: #1B1A1A;
$color-light-gray: #bbcbd7;

$element-border: 1px solid $color-main;

$anim-mob-height: calc(100vh * (0.6));

$transition-main: 0.4s;
$transition-fast: 0.2s;
$transition-slow: 0.8s;
$transition-homepage: 1s;
//$transition-slide: 5s;
//$transition-slide: 0.9s;
