<div id="dbafitness" class="section section-case-study section-dbafitness scrollPage">
  <div class="container">
    <div class="section-layout">
      <div class="section-main dbafitness">
        <header class="section-header slideBottom">
          <h2 class="section-title b-medium">DBA fitness app</h2>
        </header>
        <div class="section-body slideBottomGroup">
          <figure class="section-body-media">
            <img class="img" src="images/section/fire.svg" alt="dbafitness-logo">
          </figure>
          <div class="button-group">
            <div class="button-wrap col-4">
              <a href="#fitness" class="button button-case-study">Website</a>
            </div>
            <div class="button-wrap col-4">
              <a href="#mobileApp" class="button button-case-study">Mobile App</a>
            </div>
            <div class="button-wrap col-4">
              <a href="#cecilAlliance" class="button button-case-study">Partners</a>
            </div>
          </div>
          <div class="section-description">
            Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere
          </div>
          <div class="button-wrap body-footer">
            <a href="#" class="button button-dbafitness b-medium">Full Case Study</a>
          </div>
        </div>
        <footer class="section-footer">        
        </footer>
      </div>
    </div>
  </div>
  //= mobgrid.html
</div>