<div class="background-image anim dba-move">
  <div class="grid background-layout">
    <div class="col-bg col-bg-0 col-slide left">
      <figure class="bg-pic colLeftCecil">
        <img class="img-bg" src="images/dba/cecil_iphone/1.png" alt="image">
      </figure>
      <figure class="bg-pic colLeftCecil">
        <img class="img-bg" src="images/dba/cecil_iphone/2.png" alt="image">
      </figure>
      <figure class="bg-pic colLeftDBA">
        <img class="img-bg" src="images/dba/bda_iphone/1.png" alt="image">
      </figure>
      <figure class="bg-pic colLeftDBA">
        <img class="img-bg" src="images/dba/bda_iphone/2.png" alt="image">
      </figure>
    </div>
    <div class="col-bg col-bg-1 col-slide center">
      <figure class="bg-pic colCenterCecil">
        <img class="img-bg" src="images/dba/cecil_iphone/3.png" alt="image">
      </figure>
      <figure class="bg-pic colCenterCecil">
        <img class="img-bg" src="images/dba/cecil_iphone/4.png" alt="image">
      </figure>
      <figure class="bg-pic colCenterDBA">
        <img class="img-bg" src="images/dba/bda_iphone/3.png" alt="image">
      </figure>
      <figure class="bg-pic colCenterDBA">
        <img class="img-bg" src="images/dba/bda_iphone/4.png" alt="image">
      </figure>
    </div>
    <div class="col-bg col-bg-2 col-slide right">
      <figure class="bg-pic colRightCecil">
        <img class="img-bg" src="images/dba/cecil_iphone/5.png" alt="image">
      </figure>
      <figure class="bg-pic colRightDBA">
        <img class="img-bg" src="images/dba/bda_iphone/5.png" alt="image">
      </figure>
    </div>
  </div> 
</div>