<div id="blogs" class="section section-blogs scrollPage" h-style="--bg-image: none; --bg-color: #101015">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title b-medium">Recent Blog Posts</h2>
    </header>
    <div class="section-body">
      <div class="grid">
        <div class="col col-4">
          <div class="card card-blogpost">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/blogs/ic_web design.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h3 class="card-label">
                UX/UI Design               
              </h3>
              <h2 class="card-title b-bold">
                Cancel or close? Ambiguous action design                
              </h2>
              <p class="card-description">
                The distinction between these two actions is crucial to prevent users from losing the results of their work. Save the changes before closing the window, use text labels, not the &ldquo;X&rdquo;, and provide a confirmation dialog before…
              </p>
            </div>
            <div class="card-footer">
              <div class="grid">
                <div class="card-footer-left">
                  <span class="footer-label b-light heart-icon">99 likes</span>
                </div>
                <div class="card-footer-right">
                  <span class="footer-label b-light view-icon">123 views</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="card card-blogpost">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/blogs/ic-dev.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h3 class="card-label">
                mobile and web development               
              </h3>
              <h2 class="card-title b-bold">
                Boost ROI on your next development project!               
              </h2>
              <p class="card-description">
                Waste is the biggest impediment to efficient mobile and web software development. This waste comes in many forms — wasted time due to scope confusion, wasted effort due to building the wrong features…
              </p>
            </div>
            <div class="card-footer">
              <div class="grid">
                <div class="card-footer-left">
                  <span class="footer-label b-light heart-icon">99 likes</span>
                </div>
                <div class="card-footer-right">
                  <span class="footer-label b-light view-icon">123 views</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="card card-blogpost">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/blogs/ic_business analytics.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h3 class="card-label">
                Business analytics               
              </h3>
              <h2 class="card-title b-bold">
                10 Best eCommerce Platforms                 
              </h2>
              <p class="card-description">
                Mac Pro is designed for those who need a modular system with exceptionally high performance, expansion and Mac Pro is designed for those who need a modular system with exceptionally high performance, expansion and…
              </p>
            </div>
            <div class="card-footer">
              <div class="grid">
                <div class="card-footer-left">
                  <span class="footer-label b-light heart-icon">99 likes</span>
                </div>
                <div class="card-footer-right">
                  <span class="footer-label b-light view-icon">123 views</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>