<div id="partnership" class="section section-partnership scrollPage" h-style="--bg-image: none; --bg-color: #000000">
  <div class="container">
      <header class="section-header">
        <h2 class="section-title b-medium">Strategic Partnership</h2>
      </header>
      <div class="section-layout">
        <article class="section-main">
          <div class="section-body">
            <figure class="section-body-media">
              <img class="img" src="images/homepage/section-media/ic-logo-cecil@3x.png" alt="not found">
            </figure>
            <div class="section-description">
              We are proud to partner with <span>Cecil Alliance Foundation</span>, an innovative project focused on building a global standard of animal data. As a technology partner, we help the Alliance to fulfill the idea of a one-stop platform for collecting and transmitting animal data on the blockchain. The ultimate goal of the project is to advance animal welfare and species conservation.
            </div>
            <a href="https://www.cecilalliance.com" class="cecil-link b-medium">www.cecilalliance.com</a>
          </div>
          <footer class="section-footer">
            <figure class="section-footer-media">
              <img class="icon" src="images//svg/ic-logo-medium.svg" alt="not found">
            </figure>
            <h3 class="section-subtitle b-medium">Cecil Alliance Partners with Requestum to Boost the Development of the Internet of Animals</h3>
            <div class="section-description">
              <i>&lsquo;Even though I know Dmitry for some years now, he was the first person outside Cecil Alliance who couldn’t stop talking about the IoA, its potential, and more importantly how to make it reality.&rsquo;</i>
            </div>
            <a href="#readmore" class="readmore-link b-medium">Read more...</a>
          </footer>
        </article>
        <aside class="section-aside"></aside>
      </div>
  </div>
  <figure class="background-image">
    <img class="img img-right" src="images/homepage/bgs/partnership.jpg" alt="Not found">
  </figure>
</div>