<section id="contact" class="section section-contact scrollPage" h-style="--bg-image: none; --bg-color: #101015">
  <div class="container">

    <div class="container-2">
      <header class="section-header">
        <h2 class="section-title b-medium">Contact us</h2>
      </header>
      <div class="section-body">
        <div class="section-layout">
          <div class="col">
            <h3 class="section-subtitle b-medium">Our contacts</h3>
            <p class="section-description">We are committed to ensure quality in detail and provide meaningful impact for customers’ business and audience.</p>
            <ul class="section-list">
              <li class="section-list-item">
                <div><b>UA Sales Office:</b></div>
                <a href="mailto: sales@requestum.com">sales@requestum.com</a>
              </li>
              <li class="contacts-list-item">
                <div><b>HR Team:</b></div>
                <a href="mailto: talents@requestum.com">talents@requestum.com</a>
              </li>
              <li class="contacts-list-item">
                <div><b>Address:</b></div>
                <p>9 Svobody street, Kharkiv, Kharkiv region, 61000</p>
              </li>
              <li class="contacts-list-item">
                <div><b>Follow us:</b></div>
                <ul class="social social-contactus">
                  <li><a class="social-link social-size" href="https://www.behance.com/" target="_blank"><img class="icon" src="images/svg/behance.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="https://www.linkedin.com/" target="_blank"><img class="icon" src="images/svg/linkedin.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="https://www.facebook.com/" target="_blank"><img class="icon" src="images/svg/facebook.svg" alt="Not found"></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col col-form">
            <form class="form col-form" action="" method="POST">
              <div class="form-layout row-main">
                <div class="col-6">
                  <div class="form-input">
                    <input class="form-style" type="text" name="name" placeholder="Name" autocomplete="on">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-input">
                    <input class="form-style" type="email" name="email" placeholder="email@email.com" autocomplete="on">
                  </div>
                </div>
              </div>
              <div class="form-layout row-secondary">
                <div class="col-11">
                  <div class="form-input">
                    <input class="form-style" type="text" name="message" placeholder="I want to develop..." autocomplete="on">
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-input pos-relative">
                    <label for="form-attachment" class="clickable"><span class="icon-paperclip"></span></label>
                    <input id="form-attachment" class="form-style" type="file" name="attachment" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="form-layout row-options">
                <div class="form-area form-optionals col-12">
                  <h2 class="form-subtitle b-medium">Requested Service Optionals:</h2>
                  <div class="form-optionals-tab">
                      <a id="optionalWeb" href="#web" class="col-1-5">Web</a>
                      <a id="optionalIos" href="#ios" class="col-1-5 selected">iOS</a>
                      <a id="optionalAndroid" href="#android" class="col-1-5">Android</a>
                      <a id="optionalUiux" href="#uiux" class="col-1-5">UI/UX</a>
                      <a id="optionalOther" href="#other" class="col-1-5">Other</a>
                  </div>
                </div>
                <div class="form-area form-budget col-12">
                  <h2 class="form-subtitle b-medium">Your Budget: <span id="budget-indicator">$0k</span></h2>
                  <div class="radio-group col-12">
                    <label class="container-radio">
                      <input class="contact-form-radio" type="checkbox" checked="checked">
                      <span class="radio"></span>
                      <div class="check-line"></div>
                      <span class="radio-label">$0k</span>
                    </label>
                    <label class="container-radio">
                      <input class="contact-form-radio" type="checkbox">
                      <span class="radio"></span>
                      <div class="check-line"></div>
                      <span class="radio-label">$10k</span>
                    </label>
                    <label class="container-radio">
                      <input class="contact-form-radio" type="checkbox">
                      <span class="radio"></span>
                      <div class="check-line"></div>
                      <span class="radio-label">$20k</span>
                    </label>
                    <label class="container-radio">
                      <input class="contact-form-radio" type="checkbox">
                      <span class="radio"></span>
                      <div class="check-line"></div>
                      <span class="radio-label">$30k</span>
                    </label>
                    <label class="container-radio">
                      <input class="contact-form-radio" type="checkbox">
                      <span class="radio"></span>
                      <div class="check-line"></div>
                      <span class="radio-label">$40k</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-layout row-additional">
                  <div class="col-checkbox">
                    <label class="container-checkbox">Send Me NDA
                      <input id="checkboxNDA" type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-checkbox">
                    <label class="container-checkbox">We act in accordance with GDPR
                      <input id="checkboxGDPR" type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              <a id="formSendMessage" href="#sendMessage" class="button">Send Message</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  //= footer.html
</section>