<div id="engineering" class="section section-engineering scrollPage" h-style="--bg-image: none; --bg-color: #101015;">
  <div class="container">
    <header class="section-header">
      <h2 id="EngineeringTitle" class="section-title b-medium">Engineering</h2>
      <h2 id="EngineeringTitle" class="section-subtitle">We are committed to ensure quality in detail and provide meaningful impact for customers’ business and audience.</h2>
    </header>
    <div class="section-body">
      <div class="grid">
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-sergey">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Stavichenko Sergey
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    CTO
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-eugene">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Cherkashin Eugene
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead Drupal developer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-alex">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Alex Kovalyov
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead iOS developer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-bogdan">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Skrypnyk Bogdan
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead UI/ux Designer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-andrey">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Streltsov Andrey
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead front end developer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-dmitry">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Boyko Dmitry
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead Android developer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-danil">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Kelembet Danil
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead qa Engineer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 250" class="col col-3">
          <div class="img-wrap ratio-5-6">
            <div class="card card-engineering">
              <div class="card-header image-blond">
                <figure class="card-media">     
                </figure>
              </div>
              <div class="card-body">
                <div class="card-titles">
                  <h2 class="card-title b-medium">
                    Skrypnyk Bogdan
                  </h2>
                  <h2 class="card-subtitle b-bold">
                    Lead UI/ux Designer
                  </h2>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="button-wrap">
        <a id="buttonEngineering" href="#EngineeringPage" class="button">about us</a>
      </div>
    </div>
  </div>
  
</div>