<footer class="footer section-inter scrollPage" h-style="--bg-image: none; --bg-color: #101015">
  <div class="container">
    <div class="container-2">
      <div class="footer-layout">
        <div class="footer-left">
          <a class="logo" href="index.html">
            <figure class="logo-name-wrap">
              <img class="img" src="images/logo/logo-medium.svg" alt="logo">
            </figure>
          </a>
          <p>&copy; 2016 - 2019</p>
        </div>
        <div class="footer-center">
          <p>UA Sales Office <a href="mailto: sales@requestum.com">sales@requestum.com</a></p>
          <p>HR Team <a href="mailto: talents@requestum.com">talents@requestum.com</a></p>
        </div>
        <div class="footer-right">
          <ul class="social social-contactus">
            <li><a class="social-link social-size" href="https://facebook.com/requestum/" target="_blank"><img class="icon" src="images/svg/facebook.svg" alt="Not found"></a></li>
            <li><a class="social-link social-size" href="https://www.behance.net/requestum/" target="_blank"><img class="icon" src="images/svg/behance.svg" alt="Not found"></a></li>
            <li><a class="social-link social-size" href="https://www.linkedin.com/company/requestum/" target="_blank"><img class="icon" src="images/svg/linkedin.svg" alt="Not found"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-pos-relative">
      <a href="0" class="button-scroll button-navigation">Scroll up</a>
    </div>
  </div>
