<header id="header" class="header">
  <div class="header-background header-main" style="--bg-image: none; --bg-color: transparent"></div>
  <div class="header-background header-mustangchain"></div>
  <div class="container">
    <div class="header-layout">
      <div class="header-left">
        <nav class="header-navigation">
          <div class="nav-wrap">
            <a href="/services.html" class="nav-item">services</a>
          </div>
          <div class="nav-wrap">
            <a href="/technologies.html" class="nav-item">technologies</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">approach</a>
          </div>
        </nav>
      </div>
      <div class="header-center">
        <a class="logo" href="index.html">
          <figure class="logo-name-wrap">
            <img class="img logo-red" src="images/logo/logo-medium.svg" alt="logo">
            <img class="img logo-white" src="images/logo/logo_white.svg" alt="logo">
          </figure>
        </a>
      </div>
      <div class="header-right">
        <nav class="header-navigation">
          <div class="nav-wrap">
            <a href="#" class="nav-item">cases</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">blog</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">about us</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">contact us</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>