<header id="header" class="header">
  <div class="header-background header-main" style="--bg-image: none; --bg-color: transparent"></div>
  <div class="header-background header-sectionRight"></div>
  <div class="container">
    <div class="header-layout">
      <div class="header-left">
        <nav class="header-navigation">
          <div class="nav-wrap">
            <a href="#" class="nav-item">Page1</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">Page2</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">Page3</a>
          </div>
        </nav>
      </div>
      <div class="header-center">
        <a class="logo" href="index.html">
          <figure class="logo-name-wrap">
            <img class="img logo-red" src="images/logo/logo-new.svg" alt="logo">
          </figure>
        </a>
      </div>
      <div class="header-right">
        <nav class="header-navigation">
          <div class="nav-wrap">
            <a href="#" class="nav-item"></a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">Page4</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">Page5</a>
          </div>
          <div class="nav-wrap">
            <a href="#" class="nav-item">Page6</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>