<section id="section-hero" class="hero">
    <div id="hero-main" class="hero-main">
      <div class="container">
        <div class="hero-main-wrap scrollPage" h-style="--bg-image: linear-gradient(to bottom,#1b1b24,#101015); --bg-color: transparent">
            <div class="hero-textarea">
              <h2 id="heroSubtitleTop" class="hero-subtitle multilang b-regular">Your software is your differentiator.</h2>
              <h1 class="hero-title b-bold">Requestum</h1>
              <h3 id="heroSubtitleBottom" class="hero-subtitle multilang b-bold">We help transform your vision into top-notch web and mobile applications.</h3>
              <a href="1" class="button-scroll button-navigation">Scroll down</a>
              <div class="hero-social">
                <ul class="social social-hero">
                  <li><a class="social-link social-size" href="https://www.behance.net/requestum/" target="_blank"><img class="icon" src="images/svg/behance.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="https://www.linkedin.com/company/requestum/" target="_blank"><img class="icon" src="images/svg/linkedin.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="https://facebook.com/requestum/" target="_blank"><img class="icon" src="images/svg/facebook.svg" alt="Not found"></a></li>
                </ul>
              </div>
              <div class="button-wrap button-hero">
                <a id="heroButtonMain" href="#whatwecando" class="button button-scroll multilang">Company Profile</a>
              </div>
            </div>
            
        </div>
      </div>
    </div>
</section>
