<div id="reviews" class="section section-reviews scrollPage" h-style="--bg-image: linear-gradient(-297deg,#69c7ed -25%,#608dca 75%,#554ba1 145%); --bg-color: none">

  <div class="swiper-container swiper-reviews">
      <!-- Add Arrows
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="container-2">
              <header class="section-header">
                <h2 class="section-title b-medium">What Our Customers Say</h2>
              </header>
              <div class="section-layout">
                <article class="section-main">
                    <div class="section-body">
                      <div class="section-review-header">
                        <figure class="section-body-media">
                          <img class="img" src="images/homepage/section-media/ic-logo-cecil@3x.png" alt="not found">
                        </figure>
                        <div class="section-review-info">
                          <h3 class="b-bold">Cecil Alliance</h3>
                          <h4>Chief Executive Officer</h4>
                        </div>
                      </div>
                    <div class="section-description">
                      <i>&lsquo;Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere.&rsquo;</i>
                    </div>
                  </div>
                  <footer class="section-footer">
                    <h3 class="section-subtitle">Mustangchain</h3>
                    <div class="section-description">
                      Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui.
                    </div>
                  </footer>
                </article>
              </div>
            </div>
            <div class="swiper-button-prev-custom swiper-button-basic"></div>
            <div class="swiper-button-next-custom swiper-button-basic"></div>
          </div>
          <figure class="background-image-gradient section-reviews">
            <img class="img img-right contain" src="images/homepage/bgs/reviews1.png" alt="Not found">
          </figure>
          <figure class="background-image">
            <img class="img img-right contain" src="images/homepage/bgs/reviews1.png" alt="Not found">
          </figure>
          <figure class="background-image">
            <img class="img img-right contain" src="images/dba/cecil_iphone/mockup.png" alt="Not found">
          </figure>
        </div>
      </div>
  </div>
</div>