<div id="section-scroll" class="section section-case-study section-dbafitness section-dbafitness__services scrollPage" bodyhidden = true h-style="--bg-image: linear-gradient(117deg,#e74e2c -9%,#f57f4f 56%,#fe9c64 118%); --bg-color: none">
  <div class="container">
    <div class="section-layout">
      <div class="section-main dbafitness">
        <header class="section-header">
          <h2 class="section-title b-bold">Left section</h2>
        </header>
        <div class="section-body">
          <figure class="section-body-media">
            <img class="img" src="images/dba/dba-logo.png" alt="dbafitness-logo">
          </figure>
          <div class="button-group">
            <div class="button-wrap">
              <a href="#fitness" class="button">Button1</a>
            </div>
            <div class="button-wrap">
              <a href="#mobileApp" class="button">Button2</a>
            </div>
            <div class="button-wrap">
              <a href="#cecilAlliance" class="button">Button3</a>
            </div>
          </div>
          <div class="section-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
          </div>
        </div>
        <footer class="section-footer">
          <div class="button-wrap">
            <a href="#mustangchainFull" class="button button-dbafitness">check more</a>
          </div>
        </footer>
      </div>

      <div class="section-main mustangchain">
        <header class="section-header">
            <h2 class="section-title b-bold">Section right</h2>
        </header>
        <div class="section-body">
          <figure class="section-body-media">
            <img class="img" src="images/dba/mustang-logo.png" alt="not found">
          </figure>
          <div class="button-group">
              <div class="button-wrap">
                <a href="#horses" class="button">Button1</a>
              </div>
              <div class="button-wrap">
                <a href="#mobileApp" class="button">Button2</a>
              </div>
              <div class="button-wrap">
                <a href="#cecilAlliance" class="button">Button3</a>
              </div>
          </div>
          <div class="section-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
          </div>
        </div>
        <footer class="section-footer">
          <div class="button-wrap">
            <a href="#mustangchainFull" class="button button-mustangchain">Check more</a>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <figure class="background-image-gradient dbafitness"></figure>
  <figure class="background-image-gradient mustangchain"></figure>
  <div class="background-image anim dba-move">
    <div class="grid background-layout">
      <div class="col-bg col-bg-0 col-slide">
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/cecil_iphone/1.png" alt="image">
        </figure>
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/cecil_iphone/2.png" alt="image">
        </figure>
      </div>
      <div class="col-bg col-bg-1 col-slide">
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/cecil_iphone/3.png" alt="image">
        </figure>
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/cecil_iphone/4.png" alt="image">
        </figure>
      </div>
      <div class="col-bg col-bg-2 col-slide">
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/cecil_iphone/5.png" alt="image">
        </figure>
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/bda_iphone/1.png" alt="image">
        </figure>
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/bda_iphone/2.png" alt="image">
        </figure>
      </div>
      <div class="col-bg col-bg-3 col-slide">
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/bda_iphone/3.png" alt="image">
        </figure>
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/bda_iphone/4.png" alt="image">
        </figure>
      </div>
      <div class="col-bg col-bg-4 col-slide">
        <figure class="bg-pic">
          <img class="img-bg" src="images/dba/bda_iphone/5.png" alt="image">
        </figure>
      </div>
    </div>
      
  </div>
</div>