<div id="whatwecando" class="section section-whatwecando scrollPage" h-style="--bg-image: none; --bg-color: #101015;">
  <div class="container">
    <header class="section-header">
      <h2 id="whatWeCanDoTitle" class="section-title multilang b-medium">What we can do</h2>
    </header>
    <div class="section-body">
      <div class="grid">
        <div class="col col-4 col-side col-left">
          <div class="card card-whatwecando">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/whatwecando/ic_web_dev.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                web dev
              </h2>
              <p class="card-description">
                Ensure beautiful and simple experience across your application. Our design and UX team applies innovation to creativity and develops consistent design of your software product.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-4 col-center">
          <div class="card card-whatwecando">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/whatwecando/ic_mobile dev.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                mobile dev
              </h2>
              <p class="card-description">
                Ensure beautiful and simple experience across your application. Our design and UX team applies innovation to creativity and develops consistent design of your software product.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-4 col-side col-right">
          <div class="card card-whatwecando">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/whatwecando/ux design.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                UI/UX design
              </h2>
              <p class="card-description">
                Ensure beautiful and simple experience across your application. Our design and UX team applies innovation to creativity and develops consistent design of your software product.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-4 col-side col-left">
          <div class="card card-whatwecando">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/whatwecando/ic_business analysis.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                business analysis
              </h2>
              <p class="card-description">
                Ensure beautiful and simple experience across your application. Our design and UX team applies innovation to creativity and develops consistent design of your software product.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-4 col-center">
          <div class="card card-whatwecando">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/whatwecando/data science.png" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                data science
              </h2>
              <p class="card-description">
                Ensure beautiful and simple experience across your application. Our design and UX team applies innovation to creativity and develops consistent design of your software product.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-4 col-side col-right">
          <div class="card card-whatwecando">
            <div class="card-header">
              <figure class="card-media">
                <img class="icon" src="images/whatwecando/ic_iot.svg" alt="not found">
              </figure>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                IOT
              </h2>
              <p class="card-description">
                Ensure beautiful and simple experience across your application. Our design and UX team applies innovation to creativity and develops consistent design of your software product.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>